@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Poppins:wght@400;700&display=swap');

:root {

    /* Green */
   
--dark-cyan: hsl(162, 99%, 29%);
--ivory: hsl(72, 100%, 96%);
--dark-khaki: hsl(71, 46%, 59%);
    
/* Neutral & Yellow */
 
--linen:hsl(34, 61%, 93%);
--blanched-almond:hsl(32, 100%, 90%);
--light-salmon: hsl(33, 100%, 73%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mobile-first design */

body {
    font-family: "Fraunces", serif;
    font-size: 100%;
    height: 100vh;
    width: fit-content;
    color: var(--dark-cyan);
    text-align: center;

}

a, p, li {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    line-height: 2;
    list-style: none;
}

p {
    color: hsl(0, 0%, 0%);
    font-size: 1em;
    margin: 30px 0 30px 0;
}

h1 {
    font-size: 2.8em;
}

h2 {
    margin: 20px 0 20px 0;
}

.wrapper {
    padding: 40px;
}

header {
    background-color: var(--linen);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 140px;
    height: auto;
}

.nav-links {
    display: none;
}

.burger-menu {
    border: 1px solid var(--dark-cyan);
    padding: 5px;
}

.burger-1, .burger-2, .burger-3 {
    border-top: 3px solid var(--dark-cyan);
    width: 20px;;
    margin: 3px 0;
    cursor: pointer;
}

.hero-img img {
    min-width: 100%;
    height: auto;
    width: 100vw;
}

.hero-btn li {
    margin: 0 0 30px 0;
}

.primary-btn {
    background-color: var(--dark-cyan);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 10px;
}

.secondary-btn {
    background-color: var(--light-salmon);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 10px;
}

.primary-btn:hover{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid var(--dark-cyan);
    color: var(--dark-cyan);
}

.secondary-btn:hover {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid var(--light-salmon);
    color: var(--light-salmon);
}

.hero-img-desktop {
    display: none;
}

.about {
    background-color: var(--blanched-almond);
}

.about-img img {
    max-width: 500px;
    height: auto;
    border: 10px solid hsl(0, 0%, 100%);
    
}

.preview {
    background-color: var(--ivory);
    
}

.card-rows a{
    display: inline-block;
    justify-self: center;
}

.card-1, .card-2, .card-3, .card-4{
    width: 300px;
    height: 300px;
    border: 10px solid hsl(0, 0%, 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 20px 0;

}

.card-1 {
    background-image: url(./images/card-1.jpg);
}

.card-2 {
    background-image: url(./images/card-2.jpg);
}

.card-3 {
    background-image: url(./images/card-3.jpg);
}

.card-4 {
    background-image: url(./images/card-4.jpg);
}


/* Desktop  */

@media screen and (min-width: 700px) {
    
    
    .burger-menu {
        display: none;
    }

    .nav-links {
        display: flex;

    }

    .nav-links li {
        margin: 0px 0px 0px 50px;
    }

    .nav-links a {
        color: var(--dark-cyan);
        font-weight: 700;
    }

    .nav-links a:hover {
        color: var(--dark-khaki);
        text-decoration: overline;
    }

    .hero {
        display: flex;
        text-align: left;

    }

    .hero-img img {
        display: none;
    }

    .hero-img-desktop {
        display: flex;
        width: 50%;
    }

    .hero-img-desktop img {
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: right bottom;
    }

    .hero-txt {
        width: 50%;
        align-items: center;
    }

    .hero-btn {
        display: flex;
    }

    .hero-scd-btn {
        margin: 0 0 0 10px;
    }

    .about {
        display: flex;
        gap: 20px;
        align-items: center;

    }

    .about-img {
        width: 50%;
    }

    .about-img img {
        height: auto;
        width: 100%;
    }

    .about-txt {
        width: 50%;

    }

}
    
